[Unit]
Description=Ananicy - ANother Auto NICe-Y daemon
Documentation=https://github.com/Nefelim4ag/Ananicy
After=local-fs.target multi-user.target
Wants=local-fs.target multi-user.target

[Service]
Type=notify
ExecStartPre=/sbin/sysctl -e kernel.sched_autogroup_enabled=0
ExecStart=/usr/bin/ananicy start
ExecStopPost=/sbin/sysctl -e kernel.sched_autogroup_enabled=1
Nice=19
SuccessExitStatus=143
OOMScoreAdjust=-999
Restart=always
CPUAccounting=true
MemoryHigh=16M
MemoryMax=64M
ProtectSystem=true
ProtectHome=true
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
