Source: ananicy
Section: utils
Priority: optional
Maintainer: Peter J. Mello <admin@petermello.net>
Build-Depends: debhelper-compat (= 12), dh-python, dh-sequence-python3,
 help2man, python3-all
Standards-Version: 4.5.1
Homepage: https://github.com/Nefelim4ag/Ananicy
Vcs-Git: https://github.com/RogueScholar/ananicy.git -b debian
Vcs-Browser: https://github.com/RogueScholar/ananicy/tree/debian
Rules-Requires-Root: no

Package: ananicy
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: python3, schedtool, systemd, ${python3:Depends}, ${misc:Depends}
Description: ANother Auto NICe-Y daemon
 Ananicy is a shell daemon created to manage the I/O and CPU priorities of the
 processes running on your system. With a community-built set of rules for
 popular applications, all are welcome to add their own rules to the database,
 where they can be reviewed and refined by other users.
