Source: ananicy
Section: utils
Priority: optional
Maintainer: Peter J. Mello <admin@petermello.net>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/Nefelim4ag/Ananicy
Vcs-Git: https://github.com/RogueScholar/ananicy.git
Vcs-Browser: https://github.com/RogueScholar/ananicy
Rules-Requires-Root: no

Package: ananicy
Architecture: all
Depends: schedtool, systemd, ${misc:Depends}
Description: ANother Auto NICe-Y daemon
 Ananicy is a shell daemon created to manage the I/O and CPU priorities of the
 processes running on your system. With a community-built set of rules for
 popular applications, all are welcome to add their own rules to the database,
 where they can be reviewed and refined by other users.
