#!/usr/bin/make -f
# -*- mode: makefile-gmake; coding: utf-8 -*-

BASH_PATH ::= $(shell which bash)
LC_ALL      = C.UTF-8
SHELL     ::= $(shell realpath -Leq $(BASH_PATH) || echo '/bin/sh')

ifeq (,$(filter terse,$(DEB_BUILD_OPTIONS)))
	DH_INTERNAL_OPTIONS = --verbose
	DH_VERBOSE          = 1
endif

include /usr/share/dpkg/default.mk

export DH_VERBOSE LC_ALL


%:
	dh $@ -v


override_dh_auto_clean:
override_dh_update_autotools_config:
override_dh_autoreconf:
override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_install:

override_dh_installman:
	ln -s $(CURDIR)/ananicy.py $(CURDIR)/ananicy
	help2man -N -s 8 -L "C" -n "rules-based process ionice manager" \
		-m "ANother Auto NICe-Y daemon" -o $(CURDIR)/debian/ananicy.8 \
		-S "Timofey Titovets <timofey.titovets@synesis.ru>" --help-option=';' \
		--version-string="$(DEB_VERSION_UPSTREAM)" $(CURDIR)/ananicy
	@rm -fv $(CURDIR)/ananicy
	dh_installman -O-v
